<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('stride/assets/css/azia.css')}}" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="az-body">
      <div class="az-signin-wrapper">
        <div class="az-card-signin">
          <h1 class="az-logo">str<span>i</span>de</h1>
          <div class="az-signin-header">
            <form action="index.html">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Enter your email" value="">
              </div><!-- form-group -->
              <button class="btn btn-az-primary btn-block">Submit</button>
            </form>
          </div><!-- az-signin-header -->
          <div class="az-signin-footer">
            <p><a href="{{ path('user_login') }}">Sign In?</a></p>
          </div><!-- az-signin-footer -->
        </div><!-- az-card-signin -->
      </div><!-- az-signin-wrapper -->
    </body>
</html>
